awscli
beautifulsoup4==4.7.1
black==20.8b1
boto3
google-cloud-storage
intersect
ipynb
ipython
matplotlib
numpy
pandas
pandas_profiling<2.10
papermill
prometheus-api-client
pyarrow
python-bugzilla
python-dotenv
scikit-learn
scipy<1.6.1
seaborn
trino
wordcloud
